.columns-menu{
	position:absolute;
	/*
	z-index:10;
    top:1px;
	*/
    right:0;
	font-size:90%;
}
.columns-menu a.columns-menu-btn-open{
	position:relative;
	/*z-index:11;*/
    display:block;
    width:17px;
    text-align:center;
    text-decoration:none;
	border-style:solid;
	border-left-width:1px;
    border-color:darkgrey;
    border-color:var(--ag-border-color, darkgrey);
	background-color:var(--ag-header-background-color);
	background-image:linear-gradient(white, lightgrey);
}
.columns-menu a.columns-menu-btn-open:after,
.columns-menu a.columns-menu-btn-open::after{
    content:'\2699';
    font-weight:bold;
    color:#000;
    text-decoration:none;
}



.columns-menu form.columns-menu-form {
	position:absolute;
	z-index:12;
	border-style:solid;
	border-width:1px;
    border-color:darkgrey;
    border-color:var(--ag-border-color, darkgrey);
    background:#fff;
    background:var(--ag-background-color, #fff);
    border-radius:1px;
    right:8px;
	width:auto;
	height:auto;
	box-shadow:5px 5px 10px rgb(0 0 0 / 30%);
}
.columns-menu form.columns-menu-form.columns-menu-form-hidden {
	display:none;
}
form.columns-menu-form .columns-menu-heading {
	white-space:nowrap;
	padding:5px;
	background-color:var(--ag-header-background-color);
	background-image:linear-gradient(white, lightgrey);
}
form.columns-menu-form .columns-menu-controls {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	align-items:flex-start;
	padding:5px;
	border-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
    border-color:darkgrey;
    border-color:var(--ag-border-color, darkgrey);
	overflow-y:auto;
}
.columns-menu-controls label.columns-menu-control {
	display:inline-flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:center;
	gap:5px;
}
.columns-menu-controls label.columns-menu-control span {
	display:inline-block;
	text-align:left;
	white-space:nowrap;
	line-height:20px;
	cursor:pointer;
}
.columns-menu-controls label.columns-menu-control input {
}
form.columns-menu-form .columns-menu-buttons {
	padding:5px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	gap:8px;
}
form.columns-menu-form .columns-menu-buttons button {
	cursor:pointer;
}
.columns-menu-buttons button.columns-menu-btn-apply {
}
.columns-menu-buttons button.columns-menu-btn-cancel {
}






/* 
 * with table head sorting, with table head filtering,
 * no table head sorting, with table head filtering
 */
.grid.grid-with-table-head-sorting.grid-with-table-head-filtering .columns-menu a.columns-menu-btn-open,
.grid.grid-no-table-head-sorting.grid-with-table-head-filtering .columns-menu a.columns-menu-btn-open{
	height:50px;
	line-height:50px;
}
.grid.grid-with-table-head-sorting.grid-with-table-head-filtering .columns-menu form.columns-menu-form,
.grid.grid-no-table-head-sorting.grid-with-table-head-filtering .columns-menu form.columns-menu-form{
	top:25px;
}

/* with table head sorting, no table head filtering */
.grid.grid-with-table-head-sorting.grid-no-table-head-filtering .columns-menu a.columns-menu-btn-open{
	height:25px;
	line-height:27px;
}
.grid.grid-with-table-head-sorting.grid-no-table-head-filtering .columns-menu form.columns-menu-form{
	top:12px;
}

/* no table head sorting, no table head filtering, with table head */
.grid.grid-no-table-head-sorting.grid-no-table-head-filtering .columns-menu a.columns-menu-btn-open{
	height:25px;
	line-height:27px;
}
.grid.grid-no-table-head-sorting.grid-no-table-head-filtering .columns-menu form.columns-menu-form{
	top:12px;
}

/* no table head, with bottom controls */
.grid.grid-with-bottom-controls.grid-no-table-head .columns-menu {
	bottom:0;
	right:1px;
    height:32px;
	z-index:10;
}
.grid.grid-with-bottom-controls.grid-no-table-head .columns-menu a.columns-menu-btn-open{
	height:31px;
    line-height:33px;
	z-index:11;
}
.grid.grid-with-bottom-controls.grid-no-table-head .columns-menu form.columns-menu-form{
	top:auto;
	bottom:15px;
}


.grid.grid-with-table-head-sorting.grid-with-table-head-filtering .columns-menu form.columns-menu-form.columns-menu-form-small,
.grid.grid-no-table-head-sorting.grid-with-table-head-filtering .columns-menu form.columns-menu-form.columns-menu-form-small,
.grid.grid-with-table-head-sorting.grid-no-table-head-filtering .columns-menu form.columns-menu-form.columns-menu-form-small,
.grid.grid-no-table-head-sorting.grid-no-table-head-filtering .columns-menu form.columns-menu-form.columns-menu-form-small,
.grid.grid-with-bottom-controls.grid-no-table-head .columns-menu form.columns-menu-form.columns-menu-form-small{
	top:-1px;
}